{% extends 'base.html' %} {% block title %}login{% endblock %}

    
        {% block body %}
        
{% load static %}
   
        login

        <form action="" method="post">
            
          {% csrf_token %}
            <div class="container">
              <label for="uid"><b>UID</b></label>
              <input type="text" placeholder="Enter Teacher UID" name="uid" required>
          
              <label for="password"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" required>
          
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
          
            <div class="container" style="background-color:#f1f1f1">
              <button type="button" class="cancelbtn">Cancel</button>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>
        
          {% endblock %}